/* Importamos los font que se usarán */

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'VT323', monospace;
}

/*Pagina inicio, background*/
.inicio{
  min-height: 450px;
  height: 100vh;
  display: flex;
  background-position: center;
  background: linear-gradient(145deg,
  #6454f3d2,#6b43fe,#b283ff,#d1b5ff);
  background-size: 400% 400%;
  animation: animado 7s infinite;
}

@keyframes animado {
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
  
}

.content-inicio{
  width: 100%;
  margin-top: 30px;
  margin-left: 0;
  margin-right: 0;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  position: relative;
  /* margin: 3rem 3rem; */
}



/*------Menu superior--------*/
.superior{
  width: 100%;
  background-color: #2e1fb4;
  /* padding: 5px; */
  /* background: linear-gradient(145deg,
  #6454f3d2,#6b43fe,#b283ff,#d1b5ff); */
  display: flex;
  justify-content: right;
  align-items: center;
  border: 5px solid #654cc6;
  position: fixed;
  z-index: 99;
  top: 0px;
}

.der{
  text-align: right;
}

.izq img{
  margin-left: 15px;
  width: 25px;

}
.izq a{
  color: white;
  font-size: 25px;
  text-decoration: none;
}
.btn-superior{
  /* margin: 10px 5px; */
  width: 24px;
  background-color: blueviolet;
  height: 24px;
  padding: 0;
  box-shadow: 2px 2px 2px 2px black;
  border-radius: 0;
}

.btn img{
  width: 20px;
}

.ventana{
  position: absolute;
  top: 43px;
  width: 100%;
  border: 5px solid #654cc6;
  background-color: #a590f9;
}

/*-------Contacto---------*/

.div-form{
  color: blueviolet;
  font-size: 35px;
}

.ventana h1{
  color: blueviolet;
  font-size: 50px;
  margin-top:40px;
}
.row{
  margin-top: 20px;
} 

.botonEnviar{
  width: 300px;
  color: #fff;
  background-color: #8a49d5;
  font-size: 30px;
}

.text-center{
  margin-top: 50px;
}

.botonEnviar:hover{
  width: 200px;
  color: #b283ff;
  background-color: #000000;
  border: 2px solid #b283ff;
}


/*-------Footer---------*/
.menu{
  height: 10vh;
  width: 100%;
  background-color: #654cc6;
  display: flex;
  align-items: center;
  align-content: center;
  position: fixed;
  z-index: 100;
  bottom: 0px;
}

/*boton footer*/
.btnmenu{
  /* border: 2px solid rgb(128, 41, 234); */
  box-shadow: 2px 2px 2px 2px rgba(78, 34, 255, 0.4);
  background-color: rgb(160, 150, 245);
  font-size: 22px;
  border-color: #5546dc;
  border-radius: 6px;
  margin: 5px;
  padding:4px 20px;
}
.dropdown-menu img{
  width:20px;
}
.dropdown-menu{
  font-size: 15px;
}
.btnmenu a{
  text-decoration: none;
  color: black;
}
.btnmenu:hover{
  background-color: rgb(174, 166, 243);
  border-color: #463ab0;
}



/*--------Responsividad--------*/
/*Inicio para celular*/

@media screen and (min-width:220px) and (max-width:767px){

  /*---footer----*/
  .menu{
    height: auto;
  }
  .btnmenu{
    font-size: 12px;
    padding:2px 5px;
  }
  .btnmenu img{
    width: 20px;
  }
  .dropdown-menu img{
    width:18px;
  }
  .dropdown-menu{
    font-size: 12px;
  }
/*formulario*/
  .div-form{
    font-size: 20px;
  }  
  .botonEnviar{
    width: 200px;
    font-size: 30px;
  }
}

/*Inicio para tablet*/
@media screen and (min-width:768px) and (max-width:992px){
   /*---footer----*/
  .menu{
    height: auto;
  }
  .btnmenu{
    font-size: 20px;
    padding:4px 10px;
  }
  .btnmenu img{
    width: 25px;
  }
  
}
/*Inicio para escritorio*/
@media screen and (min-width:1440px){

  .btnmenu{
    font-size: 40px;
    padding:10px 20px;
  }
  .btnmenu img{
    width: 40px;
  }
  .menu{
    height: 12vh;
  }
  .dropdown-menu img{
    width:35px;
  }
  .dropdown-menu{
    font-size: 35px;
  }

  /*formulario*/
  .ventana h1{
    font-size: 80px;
    margin-top:40px;
  }
  .div-form{
    font-size: 50px;
  }
  .row{
    margin-top: 20px;
  } 
  .botonEnviar{
    margin-top: 30px;
    width: 500px;
    font-size: 50px;
    padding: 20px 40px;
  }
}
